<div
  class="text-field"
  [class.text-field--error]="props.isInvalid"
  [class.text-field--disabled]="isDisabled"
>
  <div class="text-field__header">
    <label
      [for]="id"
      class="text-field__label"
      [class.text-field__label--error]="props.isInvalid"
    >
      {{ props.label }}
    </label>
    @if (props.isInvalid && props.errorMessage) {
      <span
        [id]="id + '-error'"
        class="text-field__error"
        role="alert"
      >
        {{ props.errorMessage }}
      </span>
    }
  </div>

  <div class="text-field__input-wrapper">
    <input
      [id]="id"
      [type]="props.type"
      [value]="value"
      [placeholder]="props.placeholder"
      (input)="onInputChange($event)"
      (blur)="onTouched()"
      [attr.aria-invalid]="props.isInvalid"
      [attr.aria-describedby]="props.isInvalid ? id + '-error' : null"
      [disabled]="isDisabled"
      class="text-field__input"
    />
  </div>
</div>
