<div class="invoice__header">
  <div class="invoice__header-text-container">
    <app-headline level="h1" class="large__screens">
      <ng-container h1>Invoices</ng-container>
    </app-headline>
    <app-headline level="h2" class="mobile">
      <ng-container h2>Invoices</ng-container>
    </app-headline>
    <app-text variant="large" class="mobile">
      <ng-container large>{{ invoiceCount$ | async }} invoices</ng-container>
    </app-text>
    <app-text variant="large" class="large__screens">
      <ng-container large>There are {{ invoiceCount$ | async }} invoices</ng-container>
    </app-text>
  </div>
  <div class="invoice__header-controls-container">
    <app-filter label="Filter" />
    <app-button btnVariant="btn1" text="New" class="mobile"/>
    <app-button btnVariant="btn1" text="New Invoice" class="large__screens" />
  </div>
</div>
@if (loading$ | async) {
<div class="invoice__list">
  <app-headline level="h2">
    <ng-container h2>Loading invoices...</ng-container>
  </app-headline>
</div>
}
@else {
<div class="invoice__list">
  @for (invoice of invoices$ | async; track invoice.id) {
  <app-invoice-card />
}
</div>
}
