<div class="invoice__header">
  <div class="invoice__header-text-container">
    <app-headline level="h1" text="Invoices" class="large__screens"/>
    <app-headline level="h1" text="Invoices" class="mobile"/>
    @if (invoiceCount$ | async; as count) {
      <app-text
        variant="p"
        [text]="count + ' invoices'"
        className="large muted-blue"
        class="mobile"
      />
      <app-text
        variant="p"
        [text]="'There are ' + count + ' invoices'"
        className="large muted-blue"
        class="large__screens"
      />
    }
  </div>
  <div class="invoice__header-controls-container">
    <app-filter label="Filter" />
    <app-button btnVariant="btn1" text="New" class="mobile"/>
    <app-button btnVariant="btn1" text="New Invoice" class="large__screens" />
  </div>
</div>
@if (loading$ | async) {
<div class="invoice__list">
  <app-headline level="h2" text="Loading invoices..." className="" class="mobile"/>
</div>
}
@else {
<div class="invoice__list">
  @for (invoice of invoices$ | async; track invoice.id) {
  <app-invoice-card />
}
</div>
}
