.invoice__list-container {
  padding: 2rem 1.5rem;
}

.invoice__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  max-width: 100%;
}

.invoice__header-text-container {
  display: flex;
  flex-direction: column;
}

.invoice__header-controls-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.125rem;
}

.invoice__empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 400px;
}

.invoice__empty-icon {
  margin-bottom: 2.5rem;
}

.invoice__empty-inline-text {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.invoice__empty-headline {
  margin-bottom: 1.5rem;
}

.large__screens {
  display: none;
}

.mobile {
  display: block;
}

@media screen and (min-width: 768px) {
  .invoice__header {
    max-width: 100%;
    height: 59px;
    margin-bottom: 56px;
  }

  .invoice__header-controls-container {
    gap: 2.5rem;
  }

  .invoice__empty {
    height: 500px;
  }

  .large__screens {
    display: block;
  }

  .mobile {
    display: none;
  }

}

@media screen and (min-width: 1024px) {
  .invoice__header {
    max-width: 100%;
    height: 59px;
    margin-bottom: 65px;
  }

  .invoice__header-controls-container {
    gap: 2.5rem;
  }

}

@media screen and (min-width: 1440px) {
  .invoice__list {
    max-width: 100%;
    margin-inline: auto;
    padding-bottom: 3%;
  }
}
