<div class="layout">
  <header class="layout__sidebar">
    <div class="sidebar__logo-container">
      <app-icon name="logo" />
    </div>
    <div class="sidebar__controls-container">
      <app-icon name="icon-moon" />
      <hr class="sidebar__controls-separator" />
      <app-icon name="image-avatar" />
    </div>
  </header>
  <main class="layout__main">
    <router-outlet />
  </main>
</div>

<app-dialog [isOpen]="(isDrawerOpen$ | async)!" className="dialog__flex-start" (overlayClick)="closeDrawer()">
  <app-side-drawer>
    <h1>Drawer Content</h1>
  </app-side-drawer>
</app-dialog>
