.container {
  display: grid;
  grid-template-rows: 72px 1fr;
  gap: 0px 0px;
}

@media screen and (min-width: var(--breakpoint-desktop)) {
  .container {
    grid-template-columns: 103px 1fr;
    grid-template-rows: 1fr;
  }
}
