.filter {
  display: inline-flex;
  position: relative;
}

.filter__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.filter__header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.filter__content {
  width: 160px;
  height: 96px;
  display: block;
  position: absolute;
  top: 32px;
  left: 50%;
  transform: translateX(-50%);
  padding: 16px;
  border-radius: 8px;
  box-shadow: 0px 10px 20px 0px #48549F40;
  background-color: var(--white-color);
  z-index: 1;
}

.filter__option {
  display: flex;
  align-items: center;
  cursor: pointer;
  gap: 8px;
  padding: 4px 0;
}

.filter__option-input {
  width: 16px;
  height: 16px;
  appearance: none;
  background-color: var(--color-light-gray);
  border-radius: 0.125rem;
  cursor: pointer;
  position: relative;
}

.filter__option-input:checked {
  background-color: var(--color-primary-blue);
  background-image: url('/assets/icon-check.svg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7.47px 5.35px;
}

.filter__option:hover .filter__option-input,
.filter__option-input:hover {
  border: 1px solid var(--color-primary-blue);
  transition: border 0.3s ease-in-out;
}

@media screen and (min-width: 768px) {
  .filter__header {
    gap: 12px;
  }

  .filter__content {
    width: 192px;
    height: 128px;
    padding: 32px;
  }

  .filter__option {
    gap: 12px;
  }
}

@media screen and (min-width: 1024px) {

.filter__header {
  gap: 12px;
}

.filter__content {
  width: 192px;
  height: 128px;
  padding: 32px;
}

.filter__option {
  gap: 12px;
}
}
