<div class="filter">
  <div class="filter__header">
    <app-headline level="h3-sm" [text]="label" className=""/>
    <button class="filter__header-button" (click)="toggleFilter()">
      <app-icon [name]="isOpen ? 'icon-arrow-up' : 'icon-arrow-down'" />
    </button>
  </div>
  @if (isOpen) {
    <div class="filter__content">
      @for (option of options; track option.value) {
        <label class="filter__option">
          <input
            type="checkbox"
            class="filter__option-input"
            [value]="option.value"
            [checked]="isSelected(option.value)"
            (change)="toggleOption(option.value)"
          />
          <app-headline level="h3-sm" [text]="option.title" className=""/>
        </label>
      }
    </div>
  }
</div>
