<a class="invoice__card-container small__screen">
  <div class="invoice__header-text-container">
    <app-headline level="h3-sm" text="#RT3080" className="" />
    <app-headline level="h3" text="Jensen Huang" className="" />
  </div>
  <div class="invoice__card-body">
    <div class="invoice__card-details">
      <app-text variant="large">
        <ng-container large>Due 19 Jan 2021</ng-container>
      </app-text>
      <app-headline level="h3" text="£ 1,800.90" className="" />
    </div>
    <app-badge variant="paid">
      <ng-container paid>Paid</ng-container>
    </app-badge>
  </div>
</a>

<a class="invoice__card-container small__screen large__screen">
  <app-headline level="h3-sm" text="#RT3080" className="" />

  <app-text variant="large">
    <ng-container large>Due 19 Jan 2021</ng-container>
  </app-text>

  <app-text variant="large">
    <ng-container large>Jensen Huang</ng-container>
  </app-text>

  <app-headline level="h3" text="£ 1,800.90" className="" />
  <div class="invoice__card-details-controls">
    <app-badge variant="paid">
      <ng-container paid>Paid</ng-container>
    </app-badge>
    <app-icon name="icon-arrow-right"></app-icon>
  </div>
</a>
