.badge__container {
  width: 104px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  padding: 0.8125rem 1.0625rem 0.75rem 1.125rem;
  border-radius: 6px;
}

.badge__indicator {
  width: 8px;
  height: 8px;
  border-radius: 50%;
}

.badge--pending {
  background-color: rgba(255, 143, 0, 0.0571);
}

.badge--pending .badge__indicator,
.badge--pending app-headline {
  color: var(--color-amber);
}

.badge--pending .badge__indicator {
  background-color: var(--color-amber);
}

.badge--paid {
  background-color: rgba(51, 214, 159, 0.0571);
}

.badge--paid .badge__indicator,
.badge--paid app-headline {
  color: var(--color-mint-green);
}

.badge--paid .badge__indicator {
  background-color: var(--color-mint-green);
}

.badge--draft {
  background-color: rgba(55, 59, 83, 0.0571);
}

.badge--draft .badge__indicator,
.badge--draft app-headline {
  color: var(--color-steal-gray);
}

.badge--draft .badge__indicator {
  background-color: var(--color-steel-gray);
}
