:root {
  /* Breakpoints */
  --breakpoint-tablet: 768px;
  --breakpoint-desktop: 1440px;

  /* Shared Colors */
  --color-primary-blue: #7c5dfa;
  --color-secondary-blue: #9277ff;
  --color-primary-red: #ec5757;
  --color-secondary-red: #ff9797;
  --color-amber: #ff8f00;
  --color-mint-green: #33d69f;
  --color-dark-gray: #1e2139;
  --color-deep-gray: #252945;
  --color-light-gray: #dfe3fa;
  --color-muted-blue: #888eb0;
  --color-soft-blue: #7e88c3;
  --color-very-dark: #0c0e16;
  --color-steel-gray: #373B53;
  --color-grayish-blue: #494E6E;
  --color-almost-white: #f8f8fb;
  --color-midnight-gray: #141625;
  --white-color: #ffffff;
  --color-pale-blue-white: #F9FAFE;
}

[data-theme="light"] {
  --background-color: var(--color-almost-white);
  --text-color: var(--color-very-dark);
}

[data-theme="dark"] {
  --background-color: var(--color-midnight-gray);
  --text-color: var(--color-light-gray);
}

@font-face {
  font-family: 'Spartan';
  src: url('../public/fonts/LeagueSpartan-VariableFont_wght.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Spartan', sans-serif;
  background-color: var(--background-color);
  color: var(--text-color);
}
