.delete-card__container {
  width: 90%;
  margin-left: 5%;
  padding: 2rem;
  background-color: var(--white-color);
  border-radius: 0.5rem;
  position: relative;
  z-index: 1002;
}

.delete-card__text{
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.delete-card__buttons {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .delete-card__container {
    padding: 3rem;
  }

  .delete-card__text{
    gap: 0.8125rem;
  }
}

@media screen and (min-width: 1024px) {
  .delete-card__container {
    padding: 3rem;
  }

  .delete-card__text{
    gap: 0.8125rem;
  }

}
